{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- layout_border start -->
      <div class="container-fluid">
         <div class="layout_border">
            <!-- blog section start -->
            <div class="blog_section layout_padding margin_bottom90">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="blog_taital">Our Blog</h1>
                        <p class="blog_text">Passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                     </div>
                  </div>
                  <div class="blog_section_2 layout_padding">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="blog_taital_1">Our Blog</div>
                           <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                           <div class="readmore_bt"><a href="#">Read More</a></div>
                        </div>
                        <div class="col-md-6">
                           <div class="blog_img"><img src="{% static 'images/img-3.png' %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- blog section end -->
            <!-- layout_border end -->
         </div>
      </div>

      {% endblock content %}